<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A simple web app to manage Georgia Tech's SGA IT Committee's project backlog.">
  <meta name="author" content="Akshay Easwaran">
  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="lib/jquery-ui/jquery-ui.min.css">
  <link rel="stylesheet" href="css/style.css">
	<title>GT SGA IT Committee - Project Queue</title>
</head>
<body>
	<a name="top"></a>
  <div class="container-fluid">
    <div class="modal fade" id="newCardModal" tabindex="-1" role="dialog" aria-labelledby="newCardLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="newCardLabel">New Card</h4>
          </div>
          <div class="modal-body">
            <form id="newCardForm">
             <div class="form-group">
               <label for="card-title" class="control-label">Title</label>
               <input type="text" class="form-control" id="card-title" minlength="1" placeholder="New Card" required>
             </div>
             <div class="form-group">
               <label for="card-description" class="control-label">Description</label>
               <textarea class="form-control" id="card-description" minlength="1" placeholder="Description" required></textarea>
             </div>
						 <div class="form-group">
               <label for="card-assignee" class="control-label">Assignees</label>
               <input type="text" class="form-control" id="card-assignee" minlength="1" placeholder="George P. Burdell" required>
							 <p class="help-block">Include a comma-separated list of those who are working on this card.</p>
             </div>
						 <div class="form-group">
               <label for="card-assigneeEmail" class="control-label">Assignee Emails</label>
               <input type="email" class="form-control" id="card-assigneeEmail" placeholder="gpb27@gatech.edu" required>
							 <p class="help-block">Include a comma-separated list of the emails of those who are working on this card.</p>
             </div>
						 <div class="form-group">
               <label for="card-priority" class="control-label">Priority</label>
               <input type="number" class="form-control" id="card-priority" min="1" max="4" default="4" required>
							 <p class="help-block">Mark the priority of this card. 1 represents lowest priority; 4 represents highest.</p>
             </div>
						 <div class="form-group">
							 <div class="checkbox">
								 <label><input type="checkbox" value="" id="card-notificationsEnabled"> Enable Email Notifications</label>
							 </div>
							 <p class="help-block">If selected, assignees will be emailed whenever there is a change in card status.</p>
						 </div>
           </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default cancel" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success cardButton" id="saveButton">Save</button>
          </div>
        </div>
      </div>
    </div>

    <div class="page-header">
			<div class="row">
		  	<div class="col-md-6"><h1 class="web-title">Georgia Tech SGA IT Committee <small>Project Queue</small></h1></div>
		  	<div class="col-md-6"><button type="button" id="addCard" class="btn btn-default btn-lg pull-right header-button cardButton" autocomplete="off" data-toggle="modal" data-target="#newCardModal"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Create Card</button></div>
			</div>
    </div>

		<div id="errorMsg" class="alert alert-danger alert-dismissible hidden" role="alert">
	  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  	<strong>Error!</strong> <span id="errorText"> error message goes here.</span>
		</div>

		<div id="successMsg" class="alert alert-success alert-dismissible hidden" role="alert">
	  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  	<strong>Success!</strong> <span id="successText"> success message goes here.</span>
		</div>

    <div class="wells">
      <div class="col-md-4">
        <h3 class="well-title">Backlog</h3>
        <div class="well" id="backlogWell">
        </div>
      </div>
      <div class="col-md-4">
        <h3 class="well-title">In Progress</h3>
        <div class="well" id="progressWell">
        </div>
      </div>
      <div class="clearfix visible-xs-block"></div>
      <div class="col-md-4">
        <h3 class="well-title">Done</h3>
        <div class="well" id="doneWell">
        </div>
      </div>
    </div>
  </div>
	<footer class="bd-footer text-muted" style="text-align:center;padding-bottom:20px;" role="contentinfo">
		<div class="container">
			<p>Built by <a id="github" href="https://github.com/akeaswaran">@akeaswaran</a>.</p>
			<p>Currently v0.0.5. Code licensed <a id="license" href="https://github.com/akeaswaran/gtsga-it/blob/master/LICENSE.md">MIT</a>.</p>
			<a href="#top" style="text-align:right;">Back to top</a>
		</div>
	</footer>

<script src="lib/jquery-1.12.0.min.js"></script>
<script src="lib/jquery-ui/jquery-ui.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
